<nav class="bar bar-tab">
			<a class="tab-item external active"  href="/keying"> <span
				class="icon icon-computer"></span> <span class="tab-label">视频</span>
			</a> <a class="tab-item external"  href="/music"> <span
				class="icon icon-app"></span> <span class="tab-label">音乐</span><span
				class="badge">2</span>
			</a> <a class="tab-item external" href="#"> <span
				class="icon icon-picture"></span> <span class="tab-label">图片</span>
			</a> <a class="tab-item external" href="#"> <span
				class="icon icon-me"></span> <span class="tab-label">个人中心</span>
			</a>
		</nav>
		
<script type='text/javascript'
		src='//g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
	<script type='text/javascript'
		src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
	<script type='text/javascript'
		src='//g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js' charset='utf-8'></script>
<script type="text/javascript">
	$(function(){
		
	})
	function musicBtn(){
	
	}
</script>